<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.javalec.mapper.AdminMapper">
		<insert id="bookEnroll">
			insert into book(bookName, authorId, publiYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents)
			values(#{bookName}, #{authorId}, #{publiYear}, #{publisher}, #{cateCode}, #{bookPrice}, #{bookStock}, #{bookDiscount}, #{bookIntro}, #{bookContents})
		</insert>
	
		<select id="cateList" resultType="com.javalec.model.CateVO">
			select * from book_cate order by cateCode
		</select>
		
		<!-- 상품 리스트 -->
		<select id="goodsGetList" resultType="com.javalec.model.BookVO">
			select bookId, bookName, b.authorName, c.cateName, bookStock, a.regDate
			from book a
			left outer join book_author b on a.authorId = b.authorId
			left outer join book_cate c on a.cateCode = c.cateCode
			<if test="keyword != null">
				where (bookName like concat('%', #{keyword}, '%'))
			</if>
			order by bookId desc
			limit #{skip}, #{amount}
		</select>
		
		<!-- 상품 총 갯수 -->
		<select id="goodsGetTotal" resultType="int">
			select count(*) from book
			<if test="keyword != null">
				where bookName like concat('%', #{keyword}, '%')
			</if>
		</select>
		
		<!-- 상품 조회 -->
		<select id="goodsGetDetail" resultType="com.javalec.model.BookVO">
			select bookId, bookName, (select authorName from book_author where authorId = book.authorId) authorName,
			authorId, publiYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents, regDate, updateDate
			from book where bookId = #{bookId}
		</select>
		
		<!-- 상품 수정 -->
		<update id="goodsModify">
			update book set bookName = #{bookName}, authorId = #{authorId}, publiYear = #{publiYear}, publisher = #{publisher}, cateCode = ${cateCode},
			bookPrice = #{bookPrice}, bookStock = #{bookStock}, bookDiscount = #{bookDiscount}, bookIntro = #{bookIntro}, bookContents = #{bookContents}, updateDate = now()
			where bookId = ${bookId}
		</update>
		
		<!-- 상품 삭제 -->
		<delete id="goodsDelete">
			delete from book where bookId = #{bookId}
		</delete>
		
	</mapper>